* {
    padding: 0;
    margin: 0;
    font-size: 16px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

body {
    font-family: Myriad Pro Regular, Arial, Helvetica, sans-serif;
    background-color: rgb(243, 243, 243);
}

/*-------------------NAV------------------*/
nav {
    margin-bottom: 2em;
    background-color: rgb(255, 255, 255);
}

nav .logo-center {
    width: 20%;
    height: 100%;
    float: left;
}

.brand-logo {
    top: 10px;
    left: 6%;
}

/*/!*Start adjasting form*!/*/
/*nav form {*/
/*float: left;*/
/*width: 50%;*/
/*height: 40px;*/
/*border: 2px solid rgb(225, 229, 230);*/
/*margin-top: 12px;*/
/*margin-left: 22%;*/
/*border-radius: 4px;*/
/*}*/

/*.input-field, input, label, i {*/
/*height: 100% !important;*/
/*line-height: 100% !important;*/
/*}*/

/*.input-field input {*/
/*margin-bottom: 0 !important;*/
/*}*/

.search {
    float: left;
    width: 50%;
    height: 40px;
    border: 2px solid rgb(225, 229, 230);
    margin-top: 12px;
    margin-left: 3%;
    border-radius: 4px;
}

.search button {
    cursor: pointer; /*делает что появлялся пальчик*/
}

.search .button-left {
    display: inline-block;
    width: 8%;
    height: 100%;
    float: left;
    border: 0;
    border-right: 2px solid rgb(225, 229, 230);
    box-sizing: border-box;
    cursor: pointer;
}

.search .button-left i {
    line-height: 2.5rem;
    text-align: center;
}

.search .button-right {
    width: 10%;
    height: 100%;
    float: right;
    border: 0;
    box-sizing: border-box;
    background: transparent;
}

.search input {
    float: left;
    width: 80%;
    height: 100%;
    border-bottom: none !important;
    box-sizing: border-box;
    padding-left: 20px;
    color: #000;
}

/*.search input:focus {*/
    /*/!*псевдокласс при наведении меняет свойства*!/*/
    /*outline: red; /!*убирает в форме подсветку рамки*!/*/
    /*/!*background-color: rgb(204, 204, 204);*!/*/
/*}*/

/*End adjasting form*/

.user {
    width: 172px;
    height: 64px;
    background-color: rgb(41, 128, 185);
}

.chip {
    border-radius: 0;
}

.user img {
    height: 48px;
    width: 48px;
    margin: 8px 0 0 0px;
}

.user span {
    display: inline-block;
    margin-top: 16px;
    margin-left: 10px;
    color: rgb(255, 255, 255);
}

nav .nav-wrapper i {
    line-height: 0;
    height: 0;
    font-size: 2.5rem;
}

.material-icons {
    color: rgb(113, 119, 120);
}

nav .nav-wrapper .user i {
    padding-top: 30px;
}

nav .nav-wrapper .user-menu {
    width: 174px;
    position: absolute;
    top: 0px;
    left: 941px;
    opacity: 1;
    display: none;
"
}

/*-------------------*/

.card-action {
    background-color: rgb(41, 128, 185);
}

.card-action a {
    color: rgb(255, 255, 255) !important;
    font-size: 1em;
    font-weight: bold;
    line-height: 6px;
}

.card-action a .price {
    font-size: 1.859375em;
    font-weight: bold;
}

.card-action a .perweek {
    font-size: 0.75em;
}

/*-----------Title on the midde of page---------------*/
.row .title {
    font-size: 3em;
    color: rgb(153, 153, 153);
}

/*start footer*/
footer .divider {
    margin: 0 2.125rem;
}

.container footer .row {
    margin-left: 2.125rem;
    margin-right: 2.125rem;
}

footer ul li:hover {
    font-weight: bold;
    text-decoration: underline;
}

.footer-copyright a:hover {
    font-weight: bold;
    text-decoration: underline;
}

/*end footer*/