* {
    padding: 0;
    margin: 0;
    font-size: 16px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

body {
    font-family: Myriad Pro Regular, Arial, Helvetica, sans-serif;
    background-color: rgb(243, 243, 243);
}

/*-------------------NAV------------------*/
nav {
    margin-bottom: 2em;
    background-color: rgb(255, 255, 255);
}

.brand-logo {
    margin-top: 10px;
    margin-left: 15px;
}

/*Start adjasting form*/
nav form {
    float: left;
    width: 50%;
    height: 40px;
    border: 2px solid rgb(225, 229, 230);
    margin-top: 12px;
    margin-left: 22%;
    border-radius: 4px;
}

.input-field, input, label, i {
    height: 100% !important;
    line-height: 100% !important;
}

.input-field input {
    margin-bottom: 0 !important;
}

/*End adjasting form*/

.user {
    width: 172px;
    height: 64px;
    background-color: rgb(41, 128, 185);
}

.chip {
    border-radius: 0;
}

.user img {
    height: 48px;
    width: 48px;
    margin: 8px 0 0 0px;
}

.user span {
    display: inline-block;
    margin-top: 16px;
    margin-left: 10px;
    color: rgb(255, 255, 255);
}

nav .nav-wrapper i {
    padding-top: 4px;
}

nav .nav-wrapper .user-menu {
    width: 174px;
    position: absolute;
    top: 0px;
    left: 941px;
    opacity: 1;
    display: none;
"
}

/*-------------------*/
.wide-container {
    /*перебивает 70% класса container*/
    width: 100%;
}

.card-action {
    background-color: rgb(41, 128, 185);
}

.card-action a {
    color: rgb(255, 255, 255) !important;
    font-size: 1em;
    font-weight: bold;
    line-height: 6px;
}

.card-action a .price {
    font-size: 1.859375em;
    font-weight: bold;
}

.card-action a .perweek {
    font-size: 0.75em;
}

/*--------------------------*/
.container .row .title {
    font-size: 3em;
    color: rgb(153, 153, 153);
}

/*start footer*/
footer .divider {
    margin: 0 2.125rem;
}
footer .container .row {
    margin-left:2.125rem;
    margin-right:0.125rem;
}

footer .page-footer .footer-copyright {

}

/*end footer*/