* {
    padding: 0;
    margin: 0;
    /*box-sizing: border-box;*/
    /*font: 100%/1.5em;*/
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}


body {
    font-family: Myriad Pro Regular, Arial, Helvetica, sans-serif;
    background-color: rgb(243, 243, 243);
}

/*-------------------NAV------------------*/
nav{
    margin-bottom: 2em;
}
form{
    float: left;
}

/*-------------------*/
.card-action {
    background-color: rgb(41, 128, 185);
}

.card-action a {
    color: rgb(255, 255, 255) !important;
    font-size:1.5em;
}
.card-action a .price {
    font-size:1.859375em;
    font-weight: bold;
}
.card-action a .perweek {
    font-size:0.75em;
}
/*--------------------------*/
.container .row .title{
    font-size: 3em;
    color: rgb(153,153,153);
}
